* {
  padding: 0;
  margin: 0;
}

.container_ {
  display: flex;
  justify-content: center;
}

.container_innerContainer {
  flex: 1;
}

.headercomponent-container {
  text-align: center;
  display: flex;
  padding: 1rem 5px;
}

/* input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
} */
